<!DOCTYPE html>
<html>
<head>
  <title>Quote Saver</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Cherry+Swash' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- page bar -->
	<div class="title-bar">
		<ul>
			<li class="brand">
			<%= link_to 'Quoter', quotes_path %>
			</li>
			<li>
				<%= link_to 'Home', quotes_path %>
			</li>
			<li>
				<a href="#about">About</a>
			</li>
			<li>
				<a href="#contact">Contact</a>
			</li>
		</ul>
	</div>


	<%= yield %>


	


</body>
</html>
