<div class="line-header">
<h1>Listing quotes</h1>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Source</th>
      <th>Title</th>
      <th>Quote</th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.name %></td>
        <td><%= quote.source %></td>
        <td><%= quote.title %></td>
        <td><%= quote.body %></td>
        <div class="navigation-link">
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure you want to delete the quote?' } %></td>
      </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
