
<h1>Listing quotes</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Source</th>
      <th>Title</th>
      <th>Quote</th>
    </tr>
  </thead> -->

<!-- 
  <tbody> -->
    <div class="button">
    <%= link_to 'Post new quote!', new_quote_path %></br>
    </div>

    <% @quotes.each do |quote| %>
      <div class="content">
      Name: <strong><%= quote.name %></strong></br>
      <p>Source: <%= quote.source%></p>
      <p>Title: <%= quote.title%></p>
      <p>Quote: <%= quote.body%></p>
<!--    <%= link_to time_ago_in_words(quote.created_at) + " ago", quote %> |
 -->    <%= link_to 'Edit', edit_quote_path(quote) %> |
        <%= link_to 'Delete', quote, method: :delete, data: { confirm: 'Are you sure you want to delete the quote?' } %>
    </div> 
    <% end %>

   
 